<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Room Reservation - Test</title>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/jquery-ui-1.8.22.custom.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" type="text/css" href="css/tipped.css">
</head>

<body>
	
	<div id="about">
		<h1 class="page-header">FI Event and Meeting Space Request Form</h1>
		<p>The Friday Institute offers events and meeting facility space for Friday Institute and College of Education projects and programs. We also rent event and meeting space to other NC State projects and programs that relate to the mission of the Friday Institute, when space is available.</p>
		<p>Our hours of operations are 7:30am-6:00pm, Monday-Friday; events and meetings can be scheduled between 8:00am and 5:30pm, Monday-Friday.</p>
		<p>Please fill out this form with details and pertinent information about your event and submit the form preferably 48 hours in advance of your meeting. Last minute or "day of meeting" requests for rooms, meeting space, or IT resources are not guaranteed, and may not be available on short notice.</p>
		<p>All fields are required to submit the form. After submitting, you will be contacted by our event staff to confirm or discuss your request.<br/>* Required</p>
	</div>
	<form id="event-form" method="get" action="">
		<fieldset id="event">
			<legend><strong>Event Description</strong></legend>
                        <span>Event Name *<br/></span>
			<input type="text" id="event-name" name="event-name" class="required" ></input><br/>
			<span>Event Description *<br/></span>
			<textarea id="event-description" name="event-description" rows="10" class="span6 required"></textarea><br/>
			<span>Event Affiliation *</span>
			<label class="tipp"><input type="radio" name="event-affiliation" value="Friday Institute project"/>Friday Institute project</label>
			<label class="tipp"><input type="radio" name="event-affiliation" value="College of Education department, faculty or staff" />College of Education department, faculty or staff</label>
			<label class="tipp"><input type="radio" name="event-affiliation" value="Other NCSU department or project" />Other NCSU department or project</label>
			<label class="tipp"><input type="radio" name="event-affiliation" value="FI Partner" />FI Partner</label>
			<span>Number of attendees *</br></span>
			<span class="muted">Please provide the number of attendees, including your team, if they will need seating at the event</br></span>
                        <!--ToDo: Update with the correct maximum number of attendees -->
			<input type="number" id="event-number-attendees" name="event-number-attendees" class="required" max="100"></input><br/>
		</fieldset>
		<fieldset id="room-reservations">

			<script type="text/template" class="room-wrap" id="roomres-template">
				<span class="toggle">&#9658;</span>
				<fieldset class="room border">
					<legend class="main-legend"><%= name %></legend>
					<fieldset class="date-time-wrap">
						<fieldset class="date-wrap control-group">
							<legend>Date:</legend>
							<div class="date-pick"></div>
							<div name="dates" class="div-date-pick"></div>
						</fieldset>
						<fieldset class="time-wrap">
							<legend>Time:</legend>
							<span>From:</span>
							<ul class="time-from single-line">
								<li>
									<select name="hours" class="select-from-hour">
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
										<option value="6">6</option>
										<option value="7">7</option>
										<option value="8">8</option>
										<option value="9">9</option>
										<option value="10">10</option>
										<option value="11">11</option>
										<option value="12">12</option>
									</select>
								</li>
								<li>
									<select name="minutes" class="select-from-min">
										<option value="0">00</option>
										<option value="15">15</option>
										<option value="30">30</option>
										<option value="45">45</option>
									</select>
								</li>
								<li>
									<select name="ampm" class="select-from-ampm">
										<option value="am">AM</option>
										<option value="pm" selected="selected">PM</option>
									</select>
								</li>
							</ul>
							<span>To:</span>
							<ul class="time-to single-line">
								<li>
									<select name="hours" class="select-until-hour">
										<option value="1">1</option>
										<option value="2" selected="selected">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
										<option value="6">6</option>
										<option value="7">7</option>
										<option value="8">8</option>
										<option value="9">9</option>
										<option value="10">10</option>
										<option value="11">11</option>
										<option value="12">12</option>
									</select>
								</li>
								<li>
									<select name="minutes" class="select-until-min">
										<option value="0">00</option>
										<option value="15">15</option>
										<option value="30">30</option>
										<option value="45">45</option>
									</select>
								</li>
								<li>
									<select name="ampm" class="select-until-ampm">
										<option value="am">AM</option>
										<option value="pm" selected="selected">PM</option>
									</select>
								</li>
							</ul>
						</fieldset>
					</fieldset>
					<fieldset class="border room-names">
						<legend>Available Rooms:</legend>
						<ul>
							<li><label class="tipp dynamic wachovia" title="But I really like the Wachovia one better.<br /><br /><i>Don't they need to change it to Wells Fargo now?"><input type="radio" name="<%= radioGroup %>-room-name" value="Wachovia" />Wachovia</label></li>
							<li><label class="tipp dynamic nortel-a" title="Something about Nortel A<br />Can we put line breaks?"><input type="radio" name="<%= radioGroup %>-room-name" value="Nortel A" />Nortel A</label></li>
							<li><label class="tipp dynamic nortel-b" title="Nortel B is an awesome room"><input type="radio" name="<%= radioGroup %>-room-name" value="Nortel B" />Nortel B</label></li>
							<li><label class="tipp dynamic nortel-a-b" title="Nortel B is an awesome room"><input type="radio" name="<%= radioGroup %>-room-name" value="Nortel A+B" />Nortel A + B</label></li>
							<li><label class="tipp dynamic bb-t" title="Nortel B is an awesome room"><input type="radio" name="<%= radioGroup %>-room-name" value="BB&T" />BB&T</label></li>
							<li><label class="tipp dynamic discovery-classroom" title="Nortel B is an awesome room"><input type="radio" name="<%= radioGroup %>-room-name" value="Discovery Classroom" />Discovery Classroom</label></li>
							<li><label class="tipp dynamic logan-conf" title="Nortel B is an awesome room"><input type="radio" name="<%= radioGroup %>-room-name" value="Logan Conference Room 113" />Logan Conference Room 113</label></li>
							<li><label class="tipp dynamic conf-room-114" title="Nortel B is an awesome room"><input type="radio" name="<%= radioGroup %>-room-name" value="Conference Room 114" />Conference Room 114</label></li>
							<li><label class="tipp dynamic clark-room-117" title="Nortel B is an awesome room"><input type="radio" name="<%= radioGroup %>-room-name" value="Clark Board Room 117" />Clark Board Room 117</label></li>
							<li><label class="tipp dynamic conf-room-215a" title="Nortel B is an awesome room"><input type="radio" name="<%= radioGroup %>-room-name" value="Conference Room 215A" />Conference Room 215A</label></li>
						</ul>
					</fieldset>
					<br />
					<fieldset class="additionals border">
						<legend>Resources Available:</legend>
						<ul>
							<li class="resources-title"><span class="yes">Yes</span> <span class="no">No</span></li>
							<li><label><input type="radio" name="<%= radioGroup %>-laptop-cart" value="yes" /> <input type="radio" name="<%= radioGroup %>-laptop-cart" value="no" /> Laptop Cart</label></li>
							<li><label><input type="radio" name="<%= radioGroup %>-tables-inside" value="yes" /> <input type="radio" name="<%= radioGroup %>-tables-inside" value="no" /> Tables Inside Room</label></li>
							<li><label><input type="radio" name="<%= radioGroup %>-tables-outside" value="yes" /> <input type="radio" name="<%= radioGroup %>-tables-outside" value="no" /> Tables Outside Room</label></li>
							<li><label><input type="radio" name="<%= radioGroup %>-easels" value="yes" /> <input type="radio" name="<%= radioGroup %>-easels" value="no" /> Easels</label></li>
							<li><label><input type="radio" name="<%= radioGroup %>-projector" value="yes" /> <input type="radio" name="<%= radioGroup %>-projector" value="no" /> Projector / Large Screen Display</label></li>
							<li><label><input type="radio" name="<%= radioGroup %>-camera" value="yes" /> <input type="radio" name="<%= radioGroup %>-camera" value="no" /> Document Camera</label></li>
							<li><label><input type="radio" name="<%= radioGroup %>-audio-conf" value="yes" /> <input type="radio" name="<%= radioGroup %>-audio-conf" value="no" /> Audio Conference</label></li>
							<li><label><input type="radio" name="<%= radioGroup %>-video-conf" value="yes" /> <input type="radio" name="<%= radioGroup %>-video-conf" value="no" /> Video Conference</label></li>
							<li><label>Other Requests: <input type="text" name="other-requests" class="input-other-requests" /></label></li>
						</ul>
					</fieldset>
					<fieldset class="border configuration">
						<legend>Room Configuration:</legend>
						<ul class="list-room-configs">
							<li><label class="tipp" title="Some image with the configuation"><input type="radio" name="<%= radioGroup %>-configuration" value="Lecture" />Lecture</label></li>
							<li><label class="tipp" title="Some image with the configuation"><input type="radio" name="<%= radioGroup %>-configuration" value="Classroom" />Classroom</label></li>
							<li><label class="tipp" title="Some image with the configuation"><input type="radio" name="<%= radioGroup %>-configuration" value="Conference" />Conference</label></li>
							<li><label class="tipp" title="Some image with the configuation"><input type="radio" name="<%= radioGroup %>-configuration" value="U Shape" />U Shape</label></li>
							<li><label class="tipp" title="Some image with the configuation"><input type="radio" name="<%= radioGroup %>-configuration" value="Workshop" />Workshop</label></li>
							<li><label>Number of seats: <input type="text" name="num-seats" class="input-num-seats" required /></label></li>
						</ul>
					</fieldset>
					
				</fieldset>
				<fieldset class="delete"><img src="img/delete.jpeg" alt="Delete Room Reservation" /></fieldset>
				<fieldset class="border hidden-view">
					<span class="hidden-title"><%= hiddenTitle %></span>
				</fieldset>
			</script>
			
		</fieldset>
		<fieldset id="add"><span>Click Here to Add a Room Reservation</span></fieldset>
		<fieldset id="contact">
			<legend><strong>Contact Information</strong></legend>
			<span>Principle Contact for Event Logistics *<br/></span>
			<input type="text" id="contact-principle" name="contact-principle" class="required"></input><br/>
			<span>Phone *<br/></span>
			<input type="text" id="contact-phone" name="contact-phone" class="required"></input><br/>
			<span>Email *<br/></span>
			<input type="text" id="contact-email" name="contact-email" class="required email"></input><br/>
			<span>Alternate Contact for Event Logistics, if any</br></span>
			<span class="muted">Optional - please provide name, phone, and email</br></span>
			<textarea id="contact-alternate" name="contact-alternate" rows="8" class="span6"></textarea><br/>
		</fieldset>
		<fieldset id="food">
			<legend><strong>Food, Beverage and Catering</strong></legend>
			<div>
			<p>The FI does not provide food, beverages or catering for events.  You are welcome to bring food on your own for your event or coordinate with a caterer.</p>
			<p>Note: Alcoholic beverages are prohibited at Friday Institute events.</p>
			</div>
			<span>Will you have food at your event? *</br></span>
			<span class="muted">The FI does not provide food, beverages or catering for events. You are welcome to bring food on your own for your event or coordinate with a caterer. Alcoholic beverages are prohibited at Friday Institute events.</br></span>
			<label><input type="radio" name="catering-type" id="no-food" value="no-food"/>No</label>
			<label><input type="radio" name="catering-type" value="own-food" value="own-food"/>Yes, providing food ourselves</label>
			<label><input type="radio" name="catering-type" id="catering-food" value="catering-food"/>Yes, food will be catered</label>
			<div id="catering-details" class="hide">
 				<span>Catering company:</br></span>
				<input type="text" id="catering-company" name="catering-company" class="required"></input><br/>
				<span>Caterer's access time:</br></span>
				<span class="muted">7:30am is the earliest time for access to the FI facility for events</br></span>
				<input type="text" id="catering-time" name="catering-time" class="required"></input><br/>
			</div>
		</fieldset>
		<button type="submit" class="btn">Submit</button>
	</form>

	<!--[if lt IE 9]>
		<script type="text/javascript" src="js/lib/excanvas.js"></script>
	<![endif]-->

  	
    <script type="text/javascript" src="js/lib/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="js/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/lib/underscore-min.js"></script>
    <script type="text/javascript" src="js/lib/backbone-min.js"></script>
    <script type="text/javascript" src="js/lib/jquery-ui-1.8.22.custom.min.js"></script>
    <script type="text/javascript" src="js/lib/jquery.validate.min.js"></script>
    <script type="text/javascript" src="js/lib/tipped.js"></script>
    <script type="text/javascript" src="js/RoomReservation.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>
